{% extends "app/layout.html" %}

{% block content %}

<!--<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Django is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>-->

<div class="row">
    <div class="col-md-4">
        <h5>Display {{ extra_context.display }}</h5>
 {% include 'app/choicespartial.html' %}

      
        <!--<h2>Getting started</h2>
        <p>
            Django gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <p></p><p></p>
    </div>
    <div class="col-md-4">
        <p></p><p></p>
    </div>
</div>

<div id='calendar'></div>

<!-- View Event Details Modal -->
<div class="modal fade" id="eventDetailsModal" tabindex="-1" role="dialog" aria-labelledby="eventDetailsLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventDetailsModalLabel">Book {{ booking }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <p id="title"/>
         <p id="type"/>
         <p id="date"/>
         <p id="venue"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {#<button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
    </div>
  </div>
</div>

<!-- Book Event Modal -->
<div class="modal fade" id="bookEventModal" tabindex="-1" role="dialog" aria-labelledby="bookEventLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">     
        {% include 'app/partial_book_create.html' %}
      </div>
    </div>
  </div>

<!-- Confirm Edit Modal -->
<div class="modal fade" id="confirmEditModal" tabindex="-1" role="dialog" aria-labelledby="confirmEditLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">          
        <form method="post" id="verifyPhoneForm">      
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Verify Phone</h4>
        <h5>Please verify your phone number to edit the date.</h5>
      </div>
      <div class="modal-body">
            {% csrf_token %}
          <div class="-group">
               <label name="confirmEditMessage" id="confirmEditMessage" class=""></label>
          </div>
          <div class="-group">
            <label for="id_phone">Phone</label>
            <input type="text" name="phone" maxlength="10" class="form-control" required id="id_phone" />
          </div>
          <div class="-group">
            <label for="edit_event_start">Date</label>
            <input type="text" name="edit_event_start" maxlength="19" class="form-control" required id="edit_event_start" />
          </div>
            <input type="hidden" name="edit_event_id" id="edit_event_id" value=""/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Verify Phone</button>
      </div>
      </form>
    </div>
</div>
</div>

{% endblock %}
{% block scripts %}
   <script>

       //create event submit
       var canEditPhone = "";
       $("#eventForm").submit(function(e) {
           var formData = jQuery('#eventForm').serialize();
           $.ajax({
                url: '/book/{{booking}}/',
                data:formData,
                type: 'post',
                dataType: 'json',
                beforeSend: function () {
                   $("#create_event").text('Please wait ...')
                  .attr('disabled','disabled');
                },

                success: function (data) {
                    if (data.form_is_valid) {
                         var result = confirm( "Your booking has been created and the vendor notified." );
                         if ( result ) {
                             //update the events
                             //'alert(data.updated_events);
                             $('#calendar').eventSources = Object.values(data.updated_events);
                             $('#calendar').fullCalendar( 'rerenderEvents' );
                             //close the modal
                             $("#bookEventModal .close").click();
                             //reset the submit button
                              $("#create_event").text('Submit').removeAttr('disabled');
                        } else {
                            //var x = 1;
                            // the user clicked cancel or closed the confirm dialog.
                        }
                    }
                    else {
                      $("#bookEventModal .modal-content").html(data.html_form);
                    }
                }
           }); 
           e.preventDefault();
       });

       //event edit submit
       $("#verifyPhoneForm").submit(function(e) {
           var formData = jQuery('#verifyPhoneForm').serialize();
           $.ajax({
               url: '/verify/phone',
               data: formData,
               type: 'post',
               dataType: 'json',
////           beforeSend: function () {
////               $("#bookEventModal").modal("show");
////           },
               success: function (data) {
                   if(data){
                       $("#confirmEditMessage").text("Your change of date has been saved and the vendor has been notified.");
                   }else{
                       $("#confirmEditMessage").addClass('redFont');
                       $(".redFont").css('color','red');
                       $("#confirmEditMessage").text("You can not change somone else's booking. The changes will not be saved.");
                   }
               }
           });
                      e.preventDefault();
       });

        var allEvents = new Array();
        $(function () {
            // page is now ready, initialize the calendar...
            {% autoescape off %}
                allEvents = Object.values({{ events }});
            {% endautoescape %}
            $('#calendar').fullCalendar({
                //  put your options and callbacks here
                customButtons: {
                    toggleWeekends: {
                        text: 'Show Weekends',
                        click: function() {
                            toggleWeekends();
                        },
                    },
                },
                header: {
                    left: 'prev,next today toggleWeekends',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                forceEventDuration: true,
                eventSources: allEvents,
                weekends: false,
                dayClick: function (date,calEvent,jsEvent, view) {
                    //when a date is clicked pop open the new event create form
                    //$("#id_start").val(date.format());
                    $("#bookEventModal").modal();
                },
                eventDragStart: function( event, jsEvent, ui, view ) { 
                    event.end = event.start;
                },  
                eventDrop: function( event, delta, revertFunc, jsEvent, ui, view ) { 
                    if(canEditPhone == ""){
                        //clean out the formatting and set the values of the form from the event
                        $("#confirmEditMessage").text("");
                         $(".redFont").css('color','black');;
                        $("#edit_event_id").attr('value', event.id);
                        $("#edit_event_start").attr('value',moment(event.end).format('YYYY-MM-DD HH:MM:ss'));
                        $("#confirmEditModal").modal();
                    }
                },
                //wnen an event is clicked
                eventClick: function (calEvent, jsEvent, view) {
                    $("#title").text(calEvent.title);
                    $("#date").text(moment(calEvent.start).format("dddd, MMMM Do YYYY - h:mm a"));
                    $("#venue").text(calEvent.venue__name);
                    $("#type").text(calEvent.type);
                    $("#eventDetailsModal").modal();
                    //alert('Event: ' + calEvent.title + calEvent.eventType);
                    //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                    //alert('View: ' + view.name);
                    // change the border color just for fun
                    //$(this).css('border-color', 'red');
                  }
            })
       });

       //this will hide/show events based on the choices in the venue list,mn 
       $(document).on('click', '.form-check-input', function (e) {
           var index = $(this).attr('id').substr(-1);
           if ($(this).prop('checked')) {
               $('#calendar').fullCalendar('addEventSource', allEvents[index]);

           } else {
               $('#calendar').fullCalendar('removeEventSource', allEvents[index]);
           }     
       });


       function toggleWeekends() {
           var weekends = $('#calendar').fullCalendar('option', 'weekends');
            var text = 'Show Weekends';

            if (weekends == false) {
                text = 'Hide Weekends';
              }

            $('#calendar').fullCalendar('option', {
                customButtons: {
                    toggleWeekends: {
                        text: text,
                        click: function() {
                            toggleWeekends();
                        },
                    },
                },
                weekends: !weekends,
            });
        }
    </script>
{% endblock %}
