  




            <div class="form-check">
                {% for venue, color in extra_context %}   
                {% if forloop.counter0 == 0 %}
                <div class="row">   <!-- loop = 0 -->          
                {% endif %}

                {% if forloop.counter0|divisibleby:6 %}<!-- loop = 6 -->
                </div><div class="row">      
                {% endif %}
       
                <div class="col-sm-2">          
                    <input class="form-check-input" type="checkbox" value="" id="checkbox_{{ forloop.counter0 }}" checked>

                    {% if title == "Book" %}
                 
                    <label class="form-check-label" for=""><a href="/venue/page/{{ venue.0 }}">{{ venue.1 }}</a></label>
                    <svg height="16" width="16">
                        <circle cx="8" cy="8" r="7" stroke="black" stroke-width="1" fill="{{ color }}" />Sorry, your browser does not support inline SVG.  
                    </svg><br />

                    {% else %}

                    <label class="form-check-label" for="">{{ venue }}</label> 
                    <svg height="16" width="16">
                         <circle cx="8" cy="8" r="7" stroke="black" stroke-width="1" fill="{{ color }}" /> Sorry, your browser does not support inline SVG.  
                    </svg><br />

                    {% endif %}
                </div>
               
                {% if forloop.last %}
                </div><!-- loop = 6-->          
                {% endif %}
                {% endfor %}
              


        </div>



