{% extends "app/layout.html" %}

{% block content %}
<h2>Where's the Simcha?</h2>
<section class="col">
    <p>The home page features all the events in Lakwood in one convenient location. Full featured calendar can toggle weekends and display day, week or month view for a full picture of all that's going on.
    To clear some of the clutter, Click the checkboxes next to the event type to hide them.</p>
    <p>Clicking on an event will pop up the event details.</p>
</section>
<h2>Book</h2>
<section class="col">
    <p>Select your venue type to see the availability on the Book page. For example, booking a Wedding hall will privide access to all the current bookings in the available wedding halls. 
    Many of the dates are tentative and will display "Tentative" with a red border.</p>
    <p>Bookings will not display their information on the Book page until confirmed by the venue. Similarly, they will not appear on the Where's the Simcha? page until confirmed.</p>
    <p>Click on any date to create a tentative booking. You must provide an email address and phone number. The email and phone will be used to identify the booking as yours. 
    When a booking is created it will send an email both to you and the venue, with contact information. You must contact the venue to finalize the booking.</p>
    <p>Your tentative booking can be moved to another date by dragging/dropping. You will need to provide your email/phone to verify the booking is yours.</p>
    <p>Tentative bookings will expire at the end of the booking duration set by the venue. A warning email will be sent prior to expirtaion. Expired bookings will be removed and the process will need to be repeateed.</p>
    <p>Clicking on an event will pop up the event details.</p>
</section>
{% endblock %}